<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="targetColumn" type="xstring" value="Estado_Grupo"/>
<entry key="seed" type="xstring" value="1558977894244"/>
<entry key="maxLevels" type="xint" value="-1"/>
<entry key="minNodeSize" type="xint" value="-1"/>
<entry key="minChildSize" type="xint" value="-1"/>
<entry key="dataFraction" type="xdouble" value="1.0"/>
<entry key="isDataSelectionWithReplacement" type="xboolean" value="true"/>
<entry key="hardCodedRootColumn" type="xstring" isnull="true" value=""/>
<entry key="columnSamplingMode" type="xstring" value="SquareRoot"/>
<entry key="columnFractionPerTree" type="xdouble" value="1.0"/>
<entry key="columnAbsolutePerTree" type="xint" value="10"/>
<entry key="isUseDifferentAttributesAtEachNode" type="xboolean" value="true"/>
<entry key="nrModels" type="xint" value="100"/>
<entry key="splitCriterion" type="xstring" value="InformationGainRatio"/>
<entry key="missingValueHandling" type="xstring" value="XGBoost"/>
<entry key="useAverageSplitPoints" type="xboolean" value="true"/>
<entry key="useBinaryNominalSplits" type="xboolean" value="true"/>
<entry key="fingerprintColumn" type="xstring" isnull="true" value=""/>
<config key="columnFilterConfig">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="39"/>
<entry key="0" type="xstring" value="Identificador"/>
<entry key="1" type="xstring" value="Cantidad_tsh"/>
<entry key="2" type="xstring" value="Financiador"/>
<entry key="3" type="xstring" value="GPS"/>
<entry key="4" type="xstring" value="Instalador"/>
<entry key="5" type="xstring" value="Longitud"/>
<entry key="6" type="xstring" value="Latitud"/>
<entry key="7" type="xstring" value="Nombre_wpt"/>
<entry key="8" type="xstring" value="Numero privado"/>
<entry key="9" type="xstring" value="Cuenca"/>
<entry key="10" type="xstring" value="Subpoblación"/>
<entry key="11" type="xstring" value="Region"/>
<entry key="12" type="xstring" value="Codigo_Region"/>
<entry key="13" type="xstring" value="Codigo_Distrito"/>
<entry key="14" type="xstring" value="LGA"/>
<entry key="15" type="xstring" value="Sala"/>
<entry key="16" type="xstring" value="Poblacion"/>
<entry key="17" type="xstring" value="Reunion Publica"/>
<entry key="18" type="xstring" value="Registrador"/>
<entry key="19" type="xstring" value="Organización"/>
<entry key="20" type="xstring" value="Nombre_Esquema"/>
<entry key="21" type="xstring" value="Permiso"/>
<entry key="22" type="xstring" value="Año_Construcion"/>
<entry key="23" type="xstring" value="Tipo_Extracción"/>
<entry key="24" type="xstring" value="Grupo_Tipo_Extraccion"/>
<entry key="25" type="xstring" value="Clase_Tipo_Extraccion"/>
<entry key="26" type="xstring" value="Administracion"/>
<entry key="27" type="xstring" value="Grupo_Gestion"/>
<entry key="28" type="xstring" value="Pago"/>
<entry key="29" type="xstring" value="Tipo_Pago"/>
<entry key="30" type="xstring" value="Calidad_Agua"/>
<entry key="31" type="xstring" value="Calidad_Grupo"/>
<entry key="32" type="xstring" value="Cantidad"/>
<entry key="33" type="xstring" value="Cantidad_Grupo"/>
<entry key="34" type="xstring" value="Fuente"/>
<entry key="35" type="xstring" value="Tipo_Fuente"/>
<entry key="36" type="xstring" value="Tipo_Clase"/>
<entry key="37" type="xstring" value="Tipo_PuntoAgua"/>
<entry key="38" type="xstring" value="Tipo_Grupo_PuntoAgua"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="15"/>
<entry key="0" type="xstring" value="Class [kNN]"/>
<entry key="1" type="xstring" value="P (Estado_Grupo=functional)"/>
<entry key="2" type="xstring" value="P (Estado_Grupo=functional needs repair)"/>
<entry key="3" type="xstring" value="P (Estado_Grupo=non functional)"/>
<entry key="4" type="xstring" value="Prediction (Estado_Grupo)"/>
<entry key="5" type="xstring" value="P (Estado_Grupo=functional) (#1)"/>
<entry key="6" type="xstring" value="P (Estado_Grupo=non functional) (#1)"/>
<entry key="7" type="xstring" value="P (Estado_Grupo=functional needs repair) (#1)"/>
<entry key="8" type="xstring" value="Prediction (Estado_Grupo) (#1)"/>
<entry key="9" type="xstring" value="Cluster"/>
<entry key="10" type="xstring" value="Cluster (#1)"/>
<entry key="11" type="xstring" value="PCA dimension 0"/>
<entry key="12" type="xstring" value="PCA dimension 1"/>
<entry key="13" type="xstring" value="Prediction (Estado_Grupo) (#2)"/>
<entry key="14" type="xstring" value="Prediction probability"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.time.localdatetime.LocalDateTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<entry key="ignoreColumnsWithoutDomain" type="xboolean" value="true"/>
<entry key="nrHilitePatterns" type="xint" value="-1"/>
<entry key="saveTargetDistributionInNodes" type="xboolean" value="false"/>
<entry key="rowSamplingMode" type="xstring" value="Random"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="7 column(s) were ignored due to missing domain information: [&quot;Financiador&quot;, &quot;Instalador&quot;, &quot;Nombre_wpt&quot;, &quot;Subpoblación&quot;, ...] -- change the node configuration or use a Domain Calculator node to fix it"/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.classification.RandomForestClassificationLearnerNodeFactory2"/>
<entry key="node-name" type="xstring" value="Random Forest Learner"/>
<entry key="node-bundle-name" type="xstring" value="Decisions Tree Ensembles for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.treeensembles2"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.7.0.v201811231518"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.7.1.v201901291053"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Random Forest Learner"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 59400, Cols: 60"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 32, Cols: 6"/>
<entry key="port_dir_location" type="xstring" value="port_2"/>
</config>
<config key="port_3">
<entry key="index" type="xint" value="3"/>
<entry key="port_spec_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObject"/>
<entry key="port_object_summary" type="xstring" value="100 classifiers on 32 attributes"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_3"/>
</config>
</config>
<config key="internalObjects">
<entry key="location" type="xstring" value="internalTables"/>
<config key="content">
<config key="object_0">
<entry key="index" type="xint" value="0"/>
<entry key="type" type="xstring" value="referenced_output"/>
<entry key="outport" type="xint" value="3"/>
</config>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
